.header {
    display: grid;
    grid-area: h;
    background-color: #fff;
    justify-items: end;
    padding: 0 15px;
    margin-bottom: 10px;
}

.header {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 60%);
}