body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/*.container {*/
/*	max-width: 120px;*/
/*	width: 100%;*/
/*	padding: 0 20px;*/
/*}*/


.appWrapper {
	display: grid;
	background-color: #fff;
	margin-bottom: 10px;

	grid-template-areas:
            'h h'
            'n c'
            'f f';
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	min-height: 80vh;
}

.appWrapperContent {
	background-color: #fff;
	padding: 20px;
}